.linkbox {
    overflow: hidden;
    background: #fff;
    padding: 0.5rem 0;
}
.linkbox > div {
    display: inline-block;
    width: 50%;
}
.leftbox {
    background: url(../../assets/img/yellow@2x.png)no-repeat center;
    background-size: 100% 100%;
    padding-top: 1.3rem;
    padding-left: 0.5rem;
}
.leftbox strong {
    font-size: 0.7rem;
    color: #ff4360;
    padding-top:1.3rem;
}
.linkbox p {
    color: #898989;
    line-height: 0;
}
.leftbox div {
    text-align: center;
}
.leftbox img {
    width: 5rem;
    height: auto;
    margin: 0.3rem
}
.rigthbox .topbox {
    margin-bottom: 0.25rem;
    background: url(../../assets/img/blue@2x.png)no-repeat center;
    background-size: 100% 100%;
}
.rigthbox .bottombox {
    background: url(../../assets/img/pink@2x.png)no-repeat center;
    background-size: 100% 100%;
}
.rigthbox > div {
    position: relative;
    height: 4.35rem;
    padding-left: 0.5rem;
    padding-top: 1.3rem;
}
.rigthbox img {
    position: absolute;
    width: 2.75rem;
    height: 3rem;
    bottom: 0.5rem;
    right: 0.5rem;
}