
.pro_ject {
    margin: 0.5rem 0;
    height: 6rem;
    background: #fff;
}
.quick_title {
    margin: 0.5rem 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 0.7rem;
}
.quick {
    float: right;
    font-size: 0.6rem;
    color: #9d9d9d;
}
.quick_items{padding: 0}
.quick_items img{
    display: block;
    width: 1.2rem;
    height: auto;
    margin: 0.5rem auto;
}
.quick_items li {
    width: 20%;
    float: left;
    text-align: center;
    padding: 0;
    border-right: 1px solid #eee;
    border-radius: 0;
    height: 1.3rem;
    color: #3d4145;
    padding-bottom: 2rem;
    font-size: 0.55rem;
}